<div class="task-card">
    <h3>Build Navbar</h3>
    <p>Create responsive navigation bar for the app</p>

    <div class="meta">
      <span class="priority high">High</span>
      <span class="category">Work</span>
      <span class="date">2026-04-28</span>
    </div>
  </div>


  <div class="task-card">
    <h3>Study Angular</h3>
    <p>Learn components, routing, and services</p>

    <div class="meta">
      <span class="priority medium">Medium</span>
      <span class="category">Study</span>
      <span class="date">2026-04-30</span>
    </div>
  </div>
