<div class="task-form">

  <h2> Add New Task</h2>

   <!-- Error Message -->
    @if(Error.state){
     <div class="alert alert-danger">
    {{ Error.message }}
  </div>
    }


 <form>
   <!-- Title -->
    <label for="title">Task Title</label>
    <input type="text" id="title" [(ngModel)]="Task().Title"  name="title" required placeholder="Enter your Title" />

    <!-- Description -->
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="Task().Description" placeholder="Enter your description"  name="description"></textarea>

    <!-- Priority -->
    <label for="priority">Priority</label>
    <select id="priority" [(ngModel)]="Task().Priority"   name="priority">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>

    <!-- Due Date -->
    <label for="dueDate">Due Date</label>
    <input type="date" [(ngModel)]="Task().DueDate"  id="dueDate" name="dueDate" />

    <!-- Category -->
    <label for="category">Category</label>
    <select id="category" [(ngModel)]="Task().Category"   name="category">
      <option value="work">Work</option>
      <option value="personal">Personal</option>
      <option value="study">Study</option>
    </select>

    <!-- Button -->
    <button type="button" (click)="isEditMode ? Update() : Submit()">

  {{ isEditMode ? 'Update' : 'Add' }}

</button>
 </form>






</div>
